.wrap {
    width: 30rem;
    height: 30rem;
    background-color: crimson;
    border-radius: 0.7rem;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: 98%;
    height: 98%;
    background: lightpink;
    border-radius: 0.2rem;
    padding: 0.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}




